table {
    border-collapse: collapse;
    width: 100%;
}

img{
    width: 30vw;
}

body {
    background-image: url(./assets/image/5325581.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: 25vw;
    /* background-color: rgb(110, 60, 60); */
  }

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

#title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-right: 300px;
}

#pin {
    /* margin-left: 7.5vw; */
    margin-top: -40px;

}

#stadard-info{
    display: flex;
    justify-content: space-around;
    margin-right: 300px;
    height: 40px;
}

#temp{
    display: flex;
    align-items: center;
    height: 40px;
    color: red;

}
#temp span{
    margin-left: 5px;
    margin-right: 5px;
}

#hump{
    display: flex;
        align-items: center;
        height: 40px;
    color: blue;
}

#hump span{
    margin-left: 5px;
    margin-right: 5px;
}


#total-bar{
    display: flex;
}


#bar-first{
    height: 13px;
    background-color: rgb(156, 151, 151);
    width: 10px;
    display: flex;
    margin-top: 13px;

}
#bar-w {
    height: 40px;
    width: 100px;
    background-color: rgb(156, 151, 151);
}

#bar-b {
    height: 40px;
    width: 100px;
    background-color: rgb(195, 220, 236);
    color: black;
    position: relative;
    top: 40px;
    display: flex;
    align-items:center;
}

#bar-b p {
    line-height: 40px;
}
#bar-b span{
    padding-left: 20px;
}


.detail {
    width: 30vw;
    height: 35vh;
    background-color: rgb(195, 220, 236);
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background-color: rgb(195, 220, 236); */
    width: 80%;
    margin: 5% 5% 0 10%;
    padding-top: 10px;
    height: 15%;
    border-radius: 16px;
}

.chart {
    display: flex;
    justify-content: center;
    height: 70%;
}

#canvas {
    height: 100% !important;
}

.row {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    margin-right: 300px;
}